/* Tailwind base */

@import "tailwindcss";

/* ======================= */
/* Tailwind v4 Theme API */
/* ======================= */

@theme {
  /* Use '--font-*' keys to create 'font-*' utility classes */
  --font-press: "Z03 Press", system-ui, sans-serif;
  --font-latyay: "Z09 LatYaySat", system-ui, sans-serif;
  --font-cartoon: "Z10 Cartoon", system-ui, sans-serif;
  --font-khithaungg: "Z20 KhitHaungg", system-ui, sans-serif;

  /* To make KhitHaungg the default 'font-sans' */
  --font-sans: "Z20 KhitHaungg", ui-sans-serif, system-ui, sans-serif;
  --color-midnight: #0f172a;

  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

@layer base {
  @font-face {
    font-family: "Z03 Press";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Z03-Press-Regular.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Z09 LatYaySat";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Z09LatYaySat-Regular.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Z10 Cartoon";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Z10-Cartoon.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Z20 KhitHaungg";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Z20-KhitHaungg-Regular.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Z20 KhitHaungg";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Z20-KhitHaungg-Medium.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Z20 KhitHaungg";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Z20-KhitHaungg-SemiBold.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Z20 KhitHaungg";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Z20-KhitHaungg-Bold.ttf") format("truetype");
    font-display: swap;
  }
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
